.payment-card {
    background-color: #f8f9fa;
    padding: 16px;
    border-radius: 12px;
    border:1px solid;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin: 12px 0;
    transition: 0.2s ease;
}

.payment-card:hover {
    background-color: #eef1f4;
}

.payment-card h3 {
    margin-bottom: 8px;
}

.payment-card p {
    margin: 4px 0;
    color: #333;
}
